altgraph==0.17.4
certifi==2024.8.30
charset-normalizer==3.3.2
DateTime==5.5
disposable-email-domains==0.0.107
dnspython==2.6.1
idna==3.10
macholib==1.16.3
packaging==24.1
pyfiglet==1.0.2
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
PySocks==1.7.1
pytz==2024.2
requests==2.32.3
setuptools==75.1.0
tzlocal==5.2
urllib3==2.2.3
zope.interface==7.0.3
